<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    </style>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<body>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>

<div class="container">

    <div class="page-header">
        <h1>Form</h1>
    </div>

    <div class="jumbotron">
        <h2>Please fill out all fields and click "Submit"</h2>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/submit">Submit</a>
        <a href="/form">Form</a>
    </div>

    <span onclick="openNav()"></span>

    <form action="/result" method="post">

        <h4>Age Group:</h4>
        <select name="age" id="1" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">ADULT</option>
  <option value="1">CHILD</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Sex:</h4>
        <select  name="sex" id="2" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">MALE</option>
  <option value="1">FEMALE</option>
  <option value="3">UNKNOWN</option>
</select>

        <h4>Transgender:</h4>
        <select name="trans" id="3" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO, NOT TRANSGENDER</option>
  <option value="1">YES, TRANSGENDER</option>
  <option value="3">WISH NOT TO SAY</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Sexual Orientation:</h4>
        <select name="sexualO" id="4" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">STRAIGHT OR HETEROSEXUAL</option>
  <option value="2">UNKNOWN</option>
  <option value="3">PREFER NOT TO SAY</option>
  <option value="4">BISEXUAL</option>
  <option value="1">LESBIAN OR GAY</option>
            <option value="5">OTHER</option>
        </select>

        <h4>Hispanic Ethnicity:</h4>
        <select name="hispan" id="5" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="1">YES</option>
  <option value="0">NO, NOT HISPANIC/LATINO</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Race:</h4>
        <select name="race" id="6" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="4">OTHER</option>
  <option value="0">WHITE ONLY</option>
  <option value="1">BLACK ONLY</option>
  <option value="3">MULTI-RACIAL</option>
  <option value="2">UNKNOWN RACE</option>
        </select>

        <h4>Living Situation:</h4>
        <select name="livingSit" id="7" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="3">OTHER LIVING SITUATION</option>
  <option value="1">INSTITUTIONAL SETTING</option>
  <option value="0">PRIVATE RESIDENCE</option>UNKNOWN RACE
  <option value="2">UNKNOWN</option>
</select>

        <h4>Household Composition:</h4>
        <select name="house" id="8" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="3">NOT APPLICABLE</option>
  <option value="1">COHABITATES WITH OTHERS</option>
  <option value="0">LIVES ALONE</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Veteran Status:</h4>
        <select name="vet" id="9" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Employment Status:</h4>
        <select name="employ" id="10" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="4">NOT IN LABOR FORCE:UNEMPLOYED AND NOT LOOKING FOR WORK</option>
  <option value="0">UNEMPLOYED, LOOKING FOR WORK</option>
  <option value="1">EMPLOYED</option>
  <option value="3">NON-PAID/VOLUNTEER</option>
  <option value="2">UNKNOWN EMPLOYMENT STATUS</option>
        </select>

        <h4>Number of Hours Worked per Week:</h4>
        <select name="hours" id="11" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NOT APPLICABLE</option>
  <option value="4">01-14 HOURS</option>
  <option value="2">UNKNOWN EMPLOYMENT HOURS</option>
  <option value="1">35 HOURS OR MORE</option>
  <option value="3">15-34 HOURS</option>
        </select>

        <h4>Education Status:</h4>
                <select name="edu" id="12" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="4">MIDDLE SCHOOL TO HIGH SCHOOL</option>
  <option value="1">COLLEGE OR GRADUATE DEGREE</option>
  <option value="2">UNKNOWN</option>
  <option value="5">PRE-K TO FIFTH GRADE</option>
  <option value="3">SOME COLLEGE</option>
                    <option value="6">OTHER</option>
  <option value="0">NO FORMAL EDUCATION</option>
                </select>

        <h4>Special Education Services:</h4>
                <select name="specEdu" id="13" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="3">NOT APPLICABLE</option>
  <option value="1">YES</option>
                     <option value="0">NO</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Mental Illness:</h4>
        <select name="mentalIll" id="14" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="1">YES</option>
            <option value="0">NO</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Intellectual Disability:</h4>
        <select name="intDis" id="15" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Autism Spectrum:</h4>
        <select name="autism" id="16" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Hearing/Visual Impairment:</h4>
        <select name="hearVis" id="17" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Hyperlipidemia:</h4>
        <select name="hpylip" id="18" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>High Blood Pressure:</h4>
        <select name="bloodPres" id="19" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Diabetes:</h4>
        <select name="diab" id="20" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Obesity:</h4>
        <select name="obesity" id="21" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>AHeart Attack:</h4>
        <select name="heartAt" id="22" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Stroke:</h4>
        <select name="stroke" id="23" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Other Cardiac:</h4>
        <select name="cardiac" id="24"class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Pulmonary Asthma:</h4>
        <select name="pulAst" id="25" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Alzheimer or Dementia:</h4>
        <select name="alz" id="26" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Kidney Disease:</h4>
        <select name="kidney" id="27" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Liver Disease:</h4>
        <select name="liver" id="28" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Endocrine Condition:</h4>
        <select name="endo" id="29" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Neurological Condition:</h4>
        <select name="muero" id="30" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Traumatic Brain Injury:</h4>
        <select name="brainTram" id="31" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Joint Disease:</h4>
        <select name="joint" id="32" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Cancer:</h4>
        <select name="cancer" id="33" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Other Chronic Med Condition:</h4>
        <select name="chronicMed" id="34" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>No Chronic Med Condition:</h4>
        <select name="noChron" id="35" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Unknown Chronic Med Condition:</h4>
        <select name="unknownChron" id="36" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
</select>

        <h4>Smokes:</h4>
        <select name="smoke" id="37" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Received Smoking Medication:</h4>
        <select name="smokeMed" id="38" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Received Smoking Counseling:</h4>
        <select name="recieveSmoke" id="39" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>SSI Cash Assistance:</h4>
        <select name="SSI" id="40" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>SSDI Cash Assistance:</h4>
        <select name="SSDI" id="41" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Veterans Disability Benefits:</h4>
        <select name="vetDis" id="42" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Veterans Cash Assistance:</h4>
        <select name="vetCash" id="43" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Public Assistance Cash Program:</h4>
        <select name="publicCash" id="44" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Other Cash Benefits:</h4>
        <select name="otherCashBen" id="45" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Medicaid and Medicare Insurance:</h4>
        <select name="medIns" id="46" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>No Insurance:</h4>
        <select name="insure" id="47" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Unknown Insurance Coverage:</h4>
        <select name="unknownIns" id="48" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
</select>

        <h4>Medicaid Insurance:</h4>
        <select name="medicaidIns" id="49" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Medicaid Managed Insurance:</h4>
        <select name="medicaidManIns" id="50" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
            <option value="3">NOT APPLICABLE</option>
</select>

        <h4>Medicare Insurance:</h4>
        <select name="medicareIns" id="51" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Private Insurance:</h4>
        <select name="privIns" id="52" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Child Health Plus Insurance:</h4>
        <select name="childIns" id="53" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Other Insurance:</h4>
        <select name="otherIns" id="54" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Criminal Justice Status:</h4>
        <select name="crimJust" id="55" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <h4>Last 3 Digits of your Zip Code:</h4>
        <input name="zip" id="56" class="form-control" type="text" placeholder="Last 3 digits of zip code">

        <h4>Serious Mental Illness:</h4>
        <select name="serMent" id="57" class="custom-select">
  <option selected>Open this select menu</option>
  <option value="0">NO</option>
  <option value="1">YES</option>
  <option value="2">UNKNOWN</option>
</select>

        <div><br></div>

        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>




</div>
</body>
</html>
